<div id="<%= dom_id(schema) %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">
      <%= link_to schema.title.titleize, schema %> (<%= schema.type_type.demodulize.titleize %>)
    </strong>
  </p>
</div>
